@charset "UTF-8";
@font-face {
  font-family: "HelveticaNeueW01-85Heav";
  src: url("http://wwww.americanapparel.net/static/atg/1.28.0/media/fonts/bb37f770-d450-4f24-af2b-3a81bf640315.eot?iefix") format("eot"); }
@font-face {
  font-family: "HelveticaNeueW01-85Heav";
  src: url("http://www.americanapparel.net/static/atg/1.28.0/media/fonts/bb37f770-d450-4f24-af2b-3a81bf640315.eot?iefix");
  src: url("http://www.americanapparel.net/static/atg/1.28.0/media/fonts/a0d9d2cb-f057-4e8d-a957-27853630f58e.woff") format("woff"), url("http://www.americanapparel.net/static/atg/1.28.0/media/fonts/54085041-5049-4b91-939c-49980c66abab.ttf") format("truetype"), url("http://www.americanapparel.net/static/atg/1.28.0/media/fonts/7a48747c-74f2-49a8-bb65-1c522d4aa618.svg#7a48747c-74f2-49a8-bb65-1c522d4aa618") format("svg"); }

// ----------------------
// == Site settings
// ----------------------

// Html 5 Element
$audio-canvas-video: false; // True | False

// Fonts
$font1: 'Lato', Calibri, sans-serif;
$font2: "HelveticaNeueW01-85Heav", Helvetica, sans-serif;

// = Colors
// -----------------------------

// Graphic chart
$grey: #555;
$litegrey: #212121;
$red: #df2e30;
$blue: #1894c4;
$lite-blu: rgba(100,167,255,.9);
// Text
$color-text-base: #212121;

// link
$color-link: $grey;
$color-link-hover: darken($grey, 10%);

// Mixin Placeholder
$color-mixin-placeholder: #cdcdcd;

// Selection
$color-selection: $lite-blu;

// Btn
$bg-btn: $grey;
$bg-btn-hover: darken($bg-btn, 10%);
$clr-btn: $litegrey;
$clr-btn-hover: darken($clr-btn, 10%);
