////////////////////////////
/// Tools Imports
@import "partials/tools";

//////////////////////////////
// Base Imports
@import "partials/base";

//////////////////////////////
// Layout Imports
@import "partials/layout";

//////////////////////////////
// Objects Imports
@import "partials/objects";

//////////////////////////////
// One Offs
// --------------------------------------------- ------------------------------------------------------
// products in feature video
.products {
	height: auto;
	max-width: 1080px;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0 0; 
	border-top: 1px solid #beccca;
	position: relative;
	clear: both;
	a {
		display: inline-block;
		overflow: hidden;
		margin: 0 8% 0 4%;
		width: 139px;
		height: 186px;
		img {
			width: 100%;
			height: auto;
		}
	}
}
// 
// p.hauler overlay
#og-grid li {
	&:hover .hauler {
		opacity: .8;
	}
}
.hauler {
	padding: 2px 0 2px 5px;
	background-color: whitesmoke;
	font-size: 1.4rem;
	color: #333;
	width: 100%;
	text-align: left;
	transition: opacity .5s ease;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
}
