// _arrow.scss

li.expanded > a::after, 
li.expanded > a::before { 
	content: '';
    position: absolute;
    z-index: 100;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
li.expanded > a::after {
	border-color: transparent;
    border-bottom-color: #f9f9f9;
    border-width: 20px;
    left: 50%;
    bottom: -11px;
    margin-left: -20px;
}
li.expanded > a::before {
	border-color: transparent;
    border-bottom-color: #beccca;
    border-width: 21px;
    left: 50%;
    bottom: -11px;
    margin-left: -21px;
}