// _details.scss

.og-details {
	width: 50%;
	float: left;
	height: 75%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-details h3 {
	font-weight: 700;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}


@media screen and (max-width: 830px) {

	.og-details h3 { font-size: 32px; }
	.og-details p { font-size: 13px; }
	.og-details a { font-size: 12px; }

}
@media screen and (max-width: 650px) {

	.og-details { float: none; width: 100%; }
	
}