// _products.scss

// products in feature video
.products {
	position: relative;
	max-width: 1000px;
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 20px 0 0;
	border-top: 1px solid #beccca;
	overflow: hidden;
	clear: both;
	@media screen and (max-width: 880px) { 
		height: 450px;
	}
	a {
		display: inline-block;
		margin: 0.4rem;
		position: relative;
	    float: left;
	    overflow: hidden;
	    width: 15.6666667%; /* Fallback */
	    width: -webkit-calc(94% / 6);
	    width: calc(94% / 6);
	    @media screen and (max-width: 880px) { 
	    	width: 31.3333333%; /* Fallback */
	    	width: -webkit-calc(94% / 3);
	    	width: calc(94% / 3);
	    }
		img {
			max-width: 100%;
		}
	}
}