/* ==|====================
   Layout/Constrained
   ======================= */

.og-grid {
    list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	li {
		display: inline-block;
		margin: 10px 5px 0 5px;
		vertical-align: top;
		height: 250px;
	}
	li > a,
	li > a img {
		border: none;
		outline: none;
		display: block;
		position: relative;
	}
} // .og-grid 

