// _prod-grid.scss

.og-grid.prod-grid { 
	border-top: 1px solid #beccca;
	margin: 2rem auto 0;
	background: #f9f9f9;
	padding: 2rem 13rem 0;
	li {
		display: inline-block;
		margin: 10px 5px 0 5px;
		vertical-align: top;
		height: auto;
	}
	li > a,
	li > a img {
		border: none;
		outline: none;
		display: block;
		position: relative;
	}
}
