// _prod-grid.scss

.prod-grid { 
	clear: both;
	border-top: 1px solid #beccca;
	margin: 2rem auto;
	background: #f9f9f9;
	padding: 2rem 0 0;
	text-align: center;
	list-style: none;
	li {
		display: inline-block;
		margin: 10px 2.5px 0;
		vertical-align: top;
		height: auto;
	}
	li > a,
	li > a img {
		border: none;
		outline: none;
		display: block;
		position: relative;
	}
}
