// _prod-grid.scss

ul.og-grid.prod-grid { // THIS IS TEMP FOR STYLING PURPOSES ONLY
	margin: 2rem auto 0;
	background: #f9f9f9;
	max-width: 985px;
	li {
		display: inline-block;
		margin: 10px 5px 0 5px;
		vertical-align: top;
		height: auto;
	}
	li > a,
	li > a img {
		border: none;
		outline: none;
		display: block;
		position: relative;
	}
}
