// _viewer.scss


.viewer {
	position: absolute;
	background: #f9f9f9;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
	border-top: 1px solid #beccca;
}

	.viewer-inner {
		padding: 50px 30px;
		height: 100%;
		margin: auto;
		max-width: 1700px;
		position: relative;
		@media (max-width: 880px) {
			padding: 50px;
		}
		@media (max-width: 515px) {
			padding: 50px 10px 60px;
		}
		@media (max-width: 440px) { 
			padding: 50px 5px 0px;
		}
	}