// _viewer.scss


.viewer {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.viewer-inner {
	padding: 50px 30px;
	height: 100%;
}